{% extends "psmd/base.html" %}

{% block title %} Comparative analysis {% endblock %}

{% block main %}
<h3 class="mt-5">Comparative analysis <small class="text-muted">select at least two species</small></h3>
<div class="row mt-3">
	<div class="form-group col-md-2">
		<label>Kingdom</label>
		<select name="kingdom" class="form-control" id="kingdom-select">
			<option value="0"></option>
		</select>
	</div>
	<div class="form-group col-md-2">
		<label>Group</label>
		<select name="group" class="form-control" id="group-select">
			<option value="0"></option>
		</select>
	</div>
	<div class="form-group col-md-2">
		<label>Subgroup</label>
		<select name="subgroup" class="form-control" id="subgroup-select">
			<option value="0"></option>
		</select>
	</div>
	<div class="form-group col-md-6">
		<label>Species</label>
		<select name="species" class="form-control form-control-lg" id="species-select">
			<option value="0" selected="selected"></option>
		</select>
	</div>
</div>

<div class="row mt-3">
	<div class="col-md-10" id="selected-species">
	</div>
	<div class="col-md-2 text-right">
		<button class="btn btn-sm btn-secondary" id="clear-all">Clear all</button>
		<button class="btn btn-sm btn-primary" id="compare-btn">Compare</button>
	</div>
</div>

<div class="row mt-3">
	<div class="col-md-6">
		<div class="card">
			<div id="ssr-freq-dens-line"></div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div id="cssr-freq-dens-line"></div>
		</div>
	</div>
</div>
<div class="row mt-3">
	<div class="col-md-6">
		<div class="card">
			<div id="ssr-cover-cssrp-line"></div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div id="ssr-type-stack-bar"></div>
		</div>
	</div>
</div>

<div class="row mt-3">
	<div class="col-md-6">
		<div class="card">
			<div id="ssr-motif-heatmap"></div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div id="ssr-repeat-heatmap"></div>
		</div>
	</div>
</div>

<script src="{{ static('psmd/script/heatmap.js') }}"></script>
<script type="text/javascript">
var species_list = [];

var colors = ['primary', 'secondary', 'success', 'danger', 'warning', 'info', 'dark'];
$('#species-select').on('change', function(){
	var label = $(this).find('option:selected').text();
	var sid = parseInt($(this).val());

	if(!sid || species_list.includes(sid)){
		return;
	}

	var color = colors[Math.floor(Math.random()*colors.length)];
	var badge_ele = $('<span></span>').addClass('mr-2 badge badge-pill badge-' + color)
		.text(label)
		.data('id', sid);

	var close_ele = $('<span></span>').addClass('ml-2')
		.html('&times;')
		.css('cursor', 'pointer')
		.click(function(){
			$(this).parent().remove();
			var i = $(this).data('id');
			species_list.splice(species_list.indexOf(i), 1);
		})
		.appendTo(badge_ele);

	$('#selected-species').append(badge_ele);
	species_list.push(sid);
});

$('#clear-all').click(function(){
	species_list = [];
	$('#selected-species').empty();
});

$('#compare-btn').click(function(){
	//console.log(species_list);
	//species_list = [646, 658, 716];

	$.post('analysis', {species: species_list}, function(res){
		
		//ssr frequency and density line plot
		Highcharts.chart('ssr-freq-dens-line', {
			credits: {
				enabled: false
			},
			chart: {
				zoomType: 'xy'
			},
			title: {
				text: 'SSR frequency and density'
			},
			xAxis: [{
				categories: res.species_categories,
				crosshair: true
			}],
			yAxis: [{
				title: {
					text: 'Frequency (loci/Mb)'
				}
			}, {
				title: {
					text: 'Density (bp/Mb)'
				},
				opposite: true
			}],
			tooltip: {
				pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y:.2f}</b><br/>'
			},
			series: [{
				name: 'Frequency',
				type: 'spline',
				data: res.ssr_freq_dens_line.frequency,
				tooltip: {
					valueSuffix: ' loci/Mb'
				}
			}, {
				name: 'Desnity',
				type: 'spline',
				yAxis: 1,
				data: res.ssr_freq_dens_line.density,
				tooltip: {
					valueSuffix: ' bp/Mb'
				}
			}]
		});

		//ssr frequency and density line plot
		Highcharts.chart('cssr-freq-dens-line', {
			credits: {
				enabled: false
			},
			chart: {
				zoomType: 'xy'
			},
			title: {
				text: 'Compound SSR frequency and density'
			},
			xAxis: [{
				categories: res.species_categories,
				crosshair: true
			}],
			yAxis: [{
				title: {
					text: 'Frequency (loci/Mb)'
				}
			}, {
				title: {
					text: 'Density (bp/Mb)'
				},
				opposite: true
			}],
			tooltip: {
				pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y:.2f}</b><br/>'
			},
			series: [{
				name: 'Frequency',
				type: 'spline',
				data: res.cssr_freq_dens_line.frequency,
				tooltip: {
					valueSuffix: ' loci/Mb'
				}
			}, {
				name: 'Desnity',
				type: 'spline',
				yAxis: 1,
				data: res.cssr_freq_dens_line.density,
				tooltip: {
					valueSuffix: ' bp/Mb'
				}
			}]
		});

		//ssr frequency and density line plot
		Highcharts.chart('ssr-cover-cssrp-line', {
			credits: {
				enabled: false
			},
			chart: {
				zoomType: 'xy'
			},
			title: {
				text: 'Percentage of genome covered by SSRs and percentage of cSSRs'
			},
			xAxis: [{
				categories: res.species_categories,
				crosshair: true
			}],
			yAxis: [{
				title: {
					text: 'Genome covered (%)'
				}
			}, {
				title: {
					text: 'cSSRs percentage (%)'
				},
				opposite: true
			}],
			tooltip: {
				pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y:.2f}</b><br/>'
			},
			series: [{
				name: 'Cover',
				type: 'spline',
				data: res.ssr_cover_cssrp_line.cover,
				tooltip: {
					valueSuffix: ' %'
				}
			}, {
				name: 'cSSRs%',
				type: 'spline',
				yAxis: 1,
				data: res.ssr_cover_cssrp_line.cssrp,
				tooltip: {
					valueSuffix: ' %'
				}
			}]
		});
		
		//ssr type distribution stacking bar
		Highcharts.chart('ssr-type-stack-bar', {
			credits: {
				enabled: false
			},
			chart: {
				type: 'column'
			},
			title: {
				text: 'SSR type distribution'
			},
			xAxis: {
				categories: res.species_categories
			},
			tooltip: {
				pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.2f}%)<br/>',
				shared: true
			},
			plotOptions: {
				column: {
					stacking: 'percent'
				}
			},
			series: res.ssr_type_stack_bar
		});

		//ssr motif heatmap plot
		Highcharts.chart('ssr-motif-heatmap', {
			credits: {
				enabled: false
			},
		   	data: {
		   		csv: res.ssr_motif_heatmap.counts
		   	},
		   	chart: {
		        type: 'heatmap',
		    },
		     boost: {
		        useGPUTranslations: true
		    },
		    title: {
		        text: 'SSR motif distribution'
		    },
		    xAxis: {
		        categories: res.species_categories
		    },
		    yAxis: {
		        categories: res.ssr_motif_heatmap.motifs,
		        title: null,
		        labels: {
		        	enabled: false
		        }
		    },
		    tooltip: {
		        formatter: function () {
		            return '<b>Species: </b> ' + this.series.xAxis.categories[this.point.x] + '<br><b>Motif: </b>' +
		                this.series.yAxis.categories[this.point.y] + '<br><b>Log10 counts: </b>' + this.point.value.toFixed(5);
		        }
		    },
		    colorAxis: {
		        stops: [
		            [0, '#3060cf'],
		            [0.5, '#fffbbc'],
		            [0.9, '#c4463a'],
		            [1, '#c4463a']
		        ],
		        startOnTick: false,
		        endOnTick: false
		    },
		    legend: {
		    	align: 'right',
		    	layout: 'vertical'
		    },
		    series: [{
		       boostThreshold: 1000000,
		       borderWidth: 0,
		       nullColor: '#EFEFEF',
		       turboThreshold: 1000000
		    }]

		});

		//ssr repeat heatmap plot
		Highcharts.chart('ssr-repeat-heatmap', {
			credits: {
				enabled: false
			},
		   	data: {
		   		csv: res.ssr_repeat_heatmap.counts
		   	},
		   	chart: {
		        type: 'heatmap',
		    },
		     boost: {
		        useGPUTranslations: true
		    },
		    title: {
		        text: 'SSR repeat distribution'
		    },
		    xAxis: {
		        categories: res.species_categories
		    },
		    yAxis: {
		        categories: res.ssr_repeat_heatmap.repeats,
		        title: null,
		        labels: {
		        	enabled: false
		        }
		    },
		    tooltip: {
		        formatter: function () {
		            return '<b>Species: </b> ' + this.series.xAxis.categories[this.point.x] + '<br><b>Repeat: </b>' +
		                this.series.yAxis.categories[this.point.y] + '<br><b>Log10 counts: </b>' + this.point.value.toFixed(5);
		        }
		    },
		    colorAxis: {
		        stops: [
		            [0, '#3060cf'],
		            [0.5, '#fffbbc'],
		            [0.9, '#c4463a'],
		            [1, '#c4463a']
		        ],
		        startOnTick: false,
		        endOnTick: false
		    },
		    legend: {
		    	align: 'right',
		    	layout: 'vertical'
		    },
		    series: [{
		       boostThreshold: 1000000,
		       borderWidth: 0,
		       nullColor: '#EFEFEF',
		       turboThreshold: 1000000
		    }]

		});

	});

});


</script>
{% endblock %}