<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{{ static('psmd/style/select2.min.css') }}">
	<link rel="stylesheet" href="{{ static('psmd/style/select2-bootstrap4.css') }}">
	<link rel="stylesheet" href="{{ static('psmd/style/datatables.min.css') }}">
	<link rel="stylesheet" href="{{ static('psmd/style/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ static('psmd/style/c3.min.css') }}">
	<link rel="stylesheet" href="{{ static('psmd/style/style.css') }}">
	<script src="{{ static('psmd/script/jquery-3.3.1.min.js') }}"></script>
	<script src="{{ static('psmd/script/jquery.redirect.js') }}"></script>
	<script src="{{ static('psmd/script/popper.min.js') }}"></script>
	<script src="{{ static('psmd/script/bootstrap.min.js') }}"></script>
	<script src="{{ static('psmd/script/select2.min.js') }}"></script>
	<script src="{{ static('psmd/script/datatables.min.js') }}"></script>
	<!--<script src="{{ static('psmd/script/d3.v5.min.js') }}" charset="utf-8"></script>
	<script src="{{ static('psmd/script/c3.min.js') }}"></script>-->
	<script src="{{ static('psmd/script/highcharts.js') }}"></script>
	<script src="{{ static('psmd/script/exporting.js') }}"></script>
	<script src="{{ static('psmd/script/script.js') }}"></script>
	<title>{% block title %}{% endblock %}</title>
	{% block head %}{% endblock %}
</head>
<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
	<div class="container-fluid">
		<a href="" class="navbar-brand">
			<img class="img-fluid" src="{{ static('psmd/img/logo.png') }}">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menubar" aria-controls="menubar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="menubar">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a href="{{ url('index') }}" class="nav-link">Home</a></li>
				<li class="nav-item"><a href="{{ url('overview') }}" class="nav-link">Overview</a></li>
				<li class="nav-item"><a href="{{ url('browse') }}" class="nav-link">Browse</a></li>
				<li class="nav-item"><a href="" class="nav-link">Analysis</a></li>
				<li class="nav-item"><a href="" class="nav-link">Primer</a></li>
				<li class="nav-item"><a href="" class="nav-link">Krait</a></li>
				<li class="nav-item"><a href="" class="nav-link">Help</a></li>
			</ul>
			<form class="form-inline">
				<div class="input-group">
					<input type="text" class="form-control" id="search-bar" name="search" placeholder="Species name, common name, assembly accession, taxonomy ID">
					<div class="input-group-append">
						<button class="btn btn-base" type="submit">Search</button>
					</div>
				</div>
			</form>	
		</div>
	</div>
</nav>

<div class="container-fluid px-4">{% block main %}{% endblock %}</div>

<footer class="mt-5 py-5">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col">
				<p>PSMD is hosted and maintained by the Bioinformatics and Integrative Genomics Research Group (BIG) at the Chengdu University, Chengdu, China.</p>
				<small>Powered by Django, Jinja2, MariaDB, Bootstrap, Jquery, DataTables, Select2, D3.js, C3.js</small>
			</div>
			<div class="col text-center">
				<p><img class="img-fluid" src="{{ static('psmd/img/cdu.png') }}"></p>
				<p><img src="{{ static('psmd/img/logo.png') }}" width="120"></p>
				<p><strong>BIG</strong></p>
			</div>
			<div class="col text-right">
				<p>Copyright &copy; 2018 Institute for Advanced Study, Chengdu University</p>
			</div>
		</div>
	</div>
</footer>

</body>
</html>