{% extends "psmd/base.html" %}

{% block title %} PanMicrosatDB Microsatellite Database {% endblock %}

{% block main %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-9">
			<div class="py-5">
				<h3 class="text-base">PSMD: Pan-species Microsatellite Database</h3>
				<p>Krait is a robust and ultrafast tool with a user-friendly graphic interface for genome-wide investigation of microsatellites, which attempts to overcome the limitations of the currently available tools. Krait is written in Python and can be run as a standalone desktop application on Windows, Linux or Mac systems without dependencies. The microsatellite search engine is written in C and compiled as Python modules for import into Krait.</p>
			</div>

			<div class="jumbotron">
				<form>
					<div class="form-row">
						<div class="form-group col-md-2">
							<label>Kingdom</label>
							<select name="kingdom" class="form-control form-control-lg" id="kingdom-select">
								<option value="0" selected="selected"></option>
							</select>
						</div>
						<div class="form-group col-md-2">
							<label>Group</label>
							<select name="group" class="form-control form-control-lg" id="group-select">
								<option value="0" selected="selected"></option>
							</select>
						</div>
						<div class="form-group col-md-2">
							<label>Subgroup</label>
							<select name="subgroup" class="form-control form-control-lg" id="subgroup-select">
								<option value="0" selected="selected"></option>
							</select>
						</div>
						<div class="form-group col-md-6">
							<label>Species</label>
							<select name="species" class="form-control form-control-lg" id="species-select">
								<option value="0" selected="selected"></option>
							</select>
						</div>
					</div>
				</form>
				
				<p class="mt-5">Quickly jump to human and commonly studied model organism</p>
				<div class="row">
					<div class="col text-center">
						<a href="">
							<figure>
								<img class="rounded-circle img-thumbnail" src="{{ static('psmd/img/human.png') }}">
								<figcaption>Human</figcaption>
							</figure>
						</a>
					</div>
					<div class="col text-center">
						<a href="">
							<figure>
								<img class="rounded-circle img-thumbnail" src="{{ static('psmd/img/mouse.png') }}">
								<figcaption>Mouse</figcaption>
							</figure>
						</a>
					</div>
					<div class="col text-center">
						<a href="">
							<figure>
								<img class="rounded-circle img-thumbnail" src="{{ static('psmd/img/chicken.png') }}">
								<figcaption>Chicken</figcaption>
							</figure>
						</a>
					</div>
					<div class="col text-center">
						<a href="">
							<figure>
								<img class="rounded-circle img-thumbnail" src="{{ static('psmd/img/zebrafish.png') }}">
								<figcaption>Zebrafish</figcaption>
							</figure>
						</a>
					</div>
					<div class="col text-center">
						<a href="">
							<figure>
								<img class="rounded-circle img-thumbnail" src="{{ static('psmd/img/fruitfly.png') }}">
								<figcaption>Fruitfly</figcaption>
							</figure>
						</a>
					</div>
					<div class="col text-center">
						<a href="">
							<figure>
								<img class="rounded-circle img-thumbnail" src="{{ static('psmd/img/nematode.png') }}">
								<figcaption>Nematode</figcaption>
							</figure>
						</a>
					</div>
					<div class="col text-center">
						<a href="">
							<figure>
								<img class="rounded-circle img-thumbnail" src="{{ static('psmd/img/arabidopsis.png') }}">
								<figcaption>Arabidopsis</figcaption>
							</figure>
						</a>
					</div>
				</div>
			</div>

			<div class="mt-5">
				<h4>Statistics</h4>
			</div>

			<div class="mt-5">
				<h4>Related Database</h4>
				<ul class="list-inline">
					<li class="list-inline-item">
						<img src="{{ static('psmd/img/msdb.png') }}">
					</li>
					<li class="list-inline-item ml-3">
						<img src="{{ static('psmd/img/pmdbase.png') }}">
					</li>
					<li class="list-inline-item ml-3">
						<img src="{{ static('psmd/img/fishmicrosat.jpg') }}">
					</li>
				</ul>
			</div>

		</div>

		<div class="col-lg-3">
			<div class="pt-5">
				<div class="card">
					<h4 class="card-header">Release</h4>
					<ul class="list-group list-group-flush">
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Current Version
							<span class="badge badge-info badge-pill">{{ version }}</span>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center
						">
							Last Updated
							<span class="badge badge-info badge-pill">{{ release|date('M j, Y') }}</span>
						</li>
						
					</ul>
				</div>
				<div class="card mt-3">
					<h4 class="card-header">News</h4>
					<div class="list-group list-group-flush">
						{% for post in posts %}
						<div class="list-group-item align-items-center">
							<div class="d-flex justify-content-between">
								<h5><a href="">{{ post.title }}</a></h5>
								<small>{{ post.created|date('M j, Y') }}</small>
							</div>
							<p>{{ post.abstract }}</p>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$('#species-select').change(function(){
	var species = parseInt($('#species-select').val());
	if(species){
		$.redirect('species', {gid: species}, 'POST');
	}
});
</script>
{% endblock %}