<div class="row mt-4">
	<div class="col">
		<table id="viewer" class="table table-bordered table-hover" width="100%">
		</table>
	</div>
</div>

<!-- sequence view dialog -->
<div class="modal fade" id="ssr-seq-dialog" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Detailed information</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		        	<span aria-hidden="true">&times;</span>
		        </button>
			</div>
			<div class="modal-body">
				<h6>Sequence</h6>
				<div class="sequence-table sequence-box" id="sequence-table"></div>
				<h6>Alignment</h6>
				<div class="mb-3" id="alignment"></div>
				<h6>Primers</h6>
				<table class="table table-bordered table-sm" id="primer-table">
					<thead>
						<th>#</th>
						<th colspan="2">Primer</th>
						<th>Temperature</th>
						<th>GC Content</th>
						<th>End stability</th>
						<th>Product Size</th>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- SSR filter dialog -->
<div class="modal fade" id="ssr-filter-dialog" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Set SSR filters</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		        	<span aria-hidden="true">&times;</span>
		        </button>
			</div>
			<div class="modal-body">
				<div class="form-row">
					<div class="form-group col-12 input-group">
						<div class="input-group-prepend">
							<label class="input-group-text">Sequence name</label>
						</div>
						<select class="custom-select" name="sequence" id="select-sequence"></select>
					</div>
					
					<div class="form-group col-12 input-group">
						<div class="input-group-prepend">
							<label class="input-group-text">Region from</label>
						</div>
						<input type="number" id="input-start" name="start" class="form-control">
						<div class="input-group-prepend input-group-append">
							<label class="input-group-text">to</label>
						</div>
						<input type="number" id="input-end" name="end" class="form-control">
					</div>

					<div class="form-group col-5 input-group">
						<div class="input-group-prepend">
							<label class="input-group-text">Motif</label>
						</div>
						<input type="text" id="input-motif" name="motif" class="form-control">
					</div>

					<div class="form-group col-7 input-group">
						<div class="input-group-prepend">
							<label class="input-group-text">Standard Motif</label>
						</div>
						<input type="text" id="input-smotif" name="smotif" class="form-control">
					</div>

					<div class="form-group col-12 input-group">
						<div class="input-group-prepend">
							<label class="input-group-text">Repeats</label>
							<select class="custom-select input-group-text" id="select-repeat-sign" name="repeatsign">
								<option value="gt">></option>
								<option value="gte">>=</option>
								<option value="eq">=</option>
								<option value="lt"><</option>
								<option value="lte"><=</option>
								<option value="in">between</option>
							</select>
						</div>
						<input type="number" id="input-repeats" name="repeats" class="form-control">
						<input type="hidden" id="max-repeats" name="maxrepeats" class="form-control">
					</div>

					<div class="form-group col-12 input-group">
						<div class="input-group-prepend">
							<label class="input-group-text">Length</label>
							<select class="custom-select input-group-text" id="select-len-sign" name="lensign">
								<option value="gt">></option>
								<option value="gte">>=</option>
								<option value="eq">=</option>
								<option value="lt"><</option>
								<option value="lte"><=</option>
								<option value="in">between</option>
							</select>
						</div>
						<input type="number" id="input-length" name="length" class="form-control">
						<input type="hidden" id="max-length" name="maxlength" class="form-control">
					</div>

					<div class="form-group col-12 input-group">
						<div class="input-group-prepend">
							<label class="input-group-text">Type</label>
						</div>
						<select class="custom-select" id="select-ssrtype" name="ssrtype">
							<option value="0">All</option>
							<option value="1">Mono</option>
							<option value="2">Di</option>
							<option value="3">Tri</option>
							<option value="4">Tetra</option>
							<option value="5">Penta</option>
							<option value="6">Hexa</option>
						</select>
					</div>

					<div class="form-group col-12 input-group">
						<div class="input-group-prepend">
							<label class="input-group-text">Match</label>
							<select class="custom-select input-group-text" id="select-match-sign">
								<option value="gt">></option>
								<option value="gte">>=</option>
								<option value="eq">=</option>
								<option value="lt"><</option>
								<option value="lte"><=</option>
								<option value="in">between</option>
							</select>
						</div>
						<input type="number" id="input-match" name="match" class="form-control">
						<input type="hidden" id="max-match" name="maxmatch" class="form-control">
					</div>

					<div class="form-group col-12 input-group">
						<div class="input-group-prepend">
							<label class="input-group-text">Substitution</label>
							<select class="custom-select input-group-text" id="select-sub-sign">
								<option value="gt">></option>
								<option value="gte">>=</option>
								<option value="eq">=</option>
								<option value="lt"><</option>
								<option value="lte"><=</option>
								<option value="in">between</option>
							</select>
						</div>
						<input type="number" id="input-substitution" name="substitution" class="form-control">
						<input type="hidden" id="max-substitution" name="maxsubstitution" class="form-control">
					</div>

					<div class="form-group col-12 input-group">
						<div class="input-group-prepend">
							<label class="input-group-text">Insertion</label>
							<select class="custom-select input-group-text" id="select-insert-sign">
								<option value="gt">></option>
								<option value="gte">>=</option>
								<option value="eq">=</option>
								<option value="lt"><</option>
								<option value="lte"><=</option>
								<option value="in">between</option>
							</select>
						</div>
						<input type="number" id="input-insertion" name="insertion" class="form-control">
						<input type="hidden" id="max-insertion" name="maxinsertion" class="form-control">
					</div>

					<div class="form-group col-12 input-group">
						<div class="input-group-prepend">
							<label class="input-group-text">Deletion</label>
							<select class="custom-select input-group-text" id="select-delete-sign">
								<option value="gt">></option>
								<option value="gte">>=</option>
								<option value="eq">=</option>
								<option value="lt"><</option>
								<option value="lte"><=</option>
								<option value="in">between</option>
							</select>
						</div>
						<input type="number" id="input-deletion" name="deletion" class="form-control">
						<input type="hidden" id="max-deletion" name="maxdeletion" class="form-control">
					</div>

					<div class="form-group col-12 input-group">
						<div class="input-group-prepend">
							<label class="input-group-text">Score</label>
							<select class="custom-select input-group-text" id="select-score-sign">
								<option value="gt">></option>
								<option value="gte">>=</option>
								<option value="eq">=</option>
								<option value="lt"><</option>
								<option value="lte"><=</option>
								<option value="in">between</option>
							</select>
						</div>
						<input type="number" id="input-score" name="score" class="form-control">
						<input type="hidden" id="max-score" name="maxscore" class="form-control">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" id="apply-filter-btn">Apply filters</button>
				<button type="button" class="btn btn-secondary" id="reset-filter-btn">Reset filters</button>
			</div>
		</div>
	</div>
</div>

{% include "psmd/download.html" %}
{% include "psmd/primer.html" %}

<script type="text/javascript">
var apply_filter = false;
var table = $('table#viewer').DataTable({
	scrollX: true,
	dom: "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6 text-right'B>>" +
		 "<'row'<'col-sm-12'tr>>" +
		 "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
	buttons:[
		{
			text: 'Filters',
			className: 'btn-sm btn-info',
			action: function(){
				$('#ssr-filter-dialog').modal('show');
			}
		},
		{
			text: 'Primer3',
			className: 'btn-sm btn-dark',
			action: function(){
				$('#primer3-dialog').modal('show');
			}
		},
		{
			text: 'Download',
			className: 'btn-sm btn-danger',
			action: function(){
				$('#download-dialog').modal('show');
			}
		}
	],
	columns: [
		{name: 'id', title: 'ID'},
		{name: 'sequence__name', title: 'Sequence Name'},
		{name: 'start', title: 'Start'},
		{name: 'end', title: 'End'},
		{name: 'motif', title: 'Motif'},
		{name: 'standard_motif', title: 'Standard Motif'},
		{name: 'ssr_type', title: 'Type'},
		{name: 'length', title: 'Length'},
		{name: 'match', title: 'Match'},
		{name: 'substitution', title: 'Substitution'},
		{name: 'insertion', title: 'Insertion'},
		{name: 'deletion', title: 'Deletion'},
		{name: 'score', title: 'Score'}
	],
	searching: true,
	processing: true,
	serverSide: true,
	//select: true,
	ajax: {
		url: "{{ url('task', kwargs={'task_id': task.job_id}) }}",
		type: 'POST',
		data: function(d){
			d.mode = 'issr';
			if(apply_filter){
				d.sequence = $('#select-sequence').val() || '0';
				d.begin = $('#input-start').val() || '0';
				d.end = $('#input-end').val() || '0';
				d.motif = $('#input-motif').val();
				d.smotif = $('#input-smotif').val();
				d.ssrtype = $('#select-ssrtype').val();
				d.repsign = $('#select-repeat-sign').val();
				d.repeats = $('#input-repeats').val() || '0';
				d.maxrep = $('#max-repeats').val() || '0';
				d.lensign = $('#select-len-sign').val();
				d.ssrlen = $('#input-length').val() || '0';
				d.maxlen = $('#max-length').val() || '0';
				d.location = $('#select-location').val();
			}
		}
	}
});

table.on('draw.dt', function(){
	$('#viewer tbody tr').dblclick(function(){
		var row = table.row(this).data();
		var params = {ssrid: row[0], type: 'issr', task:'{{ task.job_id }}'};
		$('#primer3-dialog input').each(function(){
			params[$(this).attr('name')] = $(this).val();
		});

		$.ajax({
			url: "{{ url('flank') }}",
			method: 'POST',
			data: params,
			dataType: 'json'
		}).done(function(data){
			$('#ssr-seq-dialog #sequence-table').html(data.seq);
			$('#ssr-seq-dialog #alignment').html(data.location);
			$('#ssr-seq-dialog #primer-table tbody').html(data.primer);
			$('#ssr-seq-dialog').modal('show');
		});
	});
});

$('select#select-sequence').select2({
	placeholder: "Select a sequence by accession",
	width: '100%',
	theme: 'bootstrap4',
	ajax: {
		url: "{{ url('seqid') }}",
		type: 'POST',
		dataType: 'json',
		delay: 250,
		data: function(params){
			return {
				term: params.term,
				page: params.page,
				task: '{{ task.job_id }}',
				rows: 10
			};
		},
		processResults: function(data, params){
			params.page = params.page || 1;

			return {
				results: data.results,
				pagination: {
					more: (params.page*10) < data.total
				}
			};
		},
		cache: true,
		minimumInputLength: 1
	},
});


$('#reset-filter-btn').click(function(){
	apply_filter = false;
	$('#ssr-filter-dialog input').val('');
	$('#ssr-filter-dialog select').val('').trigger('change');
	$('#select-ssrtype').val('0').trigger('change');
	$('#select-location').val('0').trigger('change');
	$('#select-repeat-sign').val('gt').trigger('change');
	$('#select-len-sign').val('gt').trigger('change');
	table.ajax.reload();
});

$('#apply-filter-btn').click(function(){
	apply_filter = true;
	table.ajax.reload();
});

$('select').change(function(){
	if($(this).val() == 'in'){
		$(this).parent().next().next().attr('type', 'number');
	} else {
		$(this).parent().next().next().attr('type', 'hidden');
	}
});

$('#dl-ok').click(function(){
	var data = {
		'mode': 'issr',
		'outfmt': $('#dl-format').val(),
		'task': '{{ task.job_id }}'
	};
	if(apply_filter && $('#dl-rows').val() == 'filtered'){
		data.sequence = $('#select-sequence').val() || '0';
		data.begin = $('#input-start').val() || '0';
		data.end = $('#input-end').val() || '0';
		data.motif = $('#input-motif').val();
		data.smotif = $('#input-smotif').val();
		data.ssrtype = $('#select-ssrtype').val();
		data.repsign = $('#select-repeat-sign').val();
		data.repeats = $('#input-repeats').val() || '0';
		data.maxrep = $('#max-repeats').val() || '0';
		data.lensign = $('#select-len-sign').val();
		data.ssrlen = $('#input-length').val() || '0';
		data.maxlen = $('#max-length').val() || '0';
		data.location = $('#select-location').val();
	}
	$.redirect("{{ url('download') }}", data, 'POST', '_blank');
	$('#download-dialog').modal('hide');
});

</script>
