{% extends "psmd/base.html" %}

{% block main %}
<div class="row mt-5">
	<div class="form-group col-md-2">
		<label>Kingdom</label>
		<select name="kingdom" class="form-control" id="kingdom-select">
			<option value="0"></option>
		</select>
	</div>
	<div class="form-group col-md-2">
		<label>Group</label>
		<select name="group" class="form-control" id="group-select">
			<option value="0"></option>
		</select>
	</div>
	<div class="form-group col-md-2">
		<label>Subgroup</label>
		<select name="subgroup" class="form-control" id="subgroup-select">
			<option value="0"></option>
		</select>
	</div>
	<div class="form-group col-md-6">
		<label>Species</label>
		<select name="species" class="form-control form-control-lg" id="species-select">
			<option value="0" selected="selected"></option>
		</select>
	</div>
</div>

<div class="row mt-4">
	<div class="col">
		<table id="summary" class="table table-bordered table-hover" width="100%">
			<thead>
				<tr>
					<th rowspan="2" class="align-middle">ID</th>
					<th rowspan="2" class="align-middle">Taxonomy</th>
					<th rowspan="2" class="align-middle">Species</th>
					<th rowspan="2" class="align-middle">Accession</th>
					<th rowspan="2" class="align-middle">Genome size</th>
					<th rowspan="2" class="align-middle">GC Content</th>
					<th colspan="4">Perfect Microsatellites</th>
					<th colspan="4">Compound Microsatellites</th>
				</tr>
				<tr>
					<th>Counts</th>
					<th>RA (loci/Mb)</th>
					<th>RD (bp/Mb)</th>
					<th>Genome Covered</th>
					<th>Counts</th>
					<th>RA (loci/Mb)</th>
					<th>RD (bp/Mb)</th>
					<th>cSSR%</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>
<script type="text/javascript">
var size_unit = 'GB';

var table = $('#summary').DataTable({
	scrollX: true,
	dom: "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6 text-right'B>>" +
		 "<'row'<'col-sm-12'tr>>" +
		 "<'row mt-2'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
	buttons:[
		{
			text: 'Genome size',
			className: 'btn-sm btn-outline-info'
		},
		{
			text: 'GB',
			className: 'btn-sm btn-info active',
			action: function(e, dt, node){
				size_unit = 'GB';
				node.siblings().removeClass('active');
				node.addClass('active');
				table.ajax.reload();
			}
		},
		{
			text: 'MB',
			className: 'btn-sm btn-info',
			action: function(e, dt, node){
				size_unit = 'MB';
				node.siblings().removeClass('active');
				node.addClass('active');
				table.ajax.reload();
			}
		},
		{
			text: 'KB',
			className: 'btn-sm btn-info',
			action: function(e, dt, node){
				size_unit = 'KB';
				node.siblings().removeClass('active');
				node.addClass('active');
				table.ajax.reload();
			}
		},
		{
			text: 'BP',
			className: 'btn-sm btn-info',
			action: function(e, dt, node){
				size_unit = 'BP';
				node.siblings().removeClass('active');
				node.addClass('active');
				table.ajax.reload();
			}
		}
	],
	searching: true,
	processing: true,
	serverSide: true,
	ajax: {
		url: "{{ url('overview') }}",
		type: 'POST',
		data: function(d){
			d.kingdom = $('#kingdom-select').val();
			d.group = $('#group-select').val();
			d.subgroup = $('#subgroup-select').val();
			d.species = $('#species-select').val();
			d.unit = size_unit;
		}
	}
});

table.on('draw.dt', function(){
	$('#summary tbody tr').dblclick(function(){
		var row = table.row(this).data();
		$.redirect("{{ url('species') }}", {species: row[0]}, 'POST', '_blank');
	});
});

$('#kingdom-select').change(function(){
	if($(this).val()){
		table.ajax.reload();
	}
});
$('#group-select').change(function(){
	if($(this).val()){
		table.ajax.reload();
	}
});
$('#subgroup-select').change(function(){
	if($(this).val()){
		table.ajax.reload();
	}
});
$('#species-select').change(function(){
	if($(this).val()){
		table.ajax.reload();
	}
});
</script>
{% endblock %}