{% extends "psmd/base.html" %}

{% block title %} Overview {% endblock %}

{% block main %}
<div class="row mt-5">
	<div class="form-group col-md-2">
		<label>Kingdom</label>
		<select name="kingdom" class="form-control" id="kingdom-select">
			<option value="0"></option>
		</select>
	</div>
	<div class="form-group col-md-2">
		<label>Group</label>
		<select name="group" class="form-control" id="group-select">
			<option value="0"></option>
		</select>
	</div>
	<div class="form-group col-md-2">
		<label>Subgroup</label>
		<select name="subgroup" class="form-control" id="subgroup-select">
			<option value="0"></option>
		</select>
	</div>
	<div class="form-group col-md-6">
		<label>Species</label>
		<select name="species" class="form-control form-control-lg" id="species-select">
			<option value="0" selected="selected"></option>
		</select>
	</div>
</div>

<div class="row mt-4">
	<div class="col">
		<table id="summary" class="table table-bordered table-hover" width="100%">
			<thead>
				<tr>
					<th rowspan="2" class="align-middle">ID</th>
					<th rowspan="2" class="align-middle">Taxonomy</th>
					<th rowspan="2" class="align-middle">Species</th>
					<th rowspan="2" class="align-middle">Accession</th>
					<th rowspan="2" class="align-middle">Genome size</th>
					<th rowspan="2" class="align-middle">GC Content</th>
					<th colspan="4">Perfect Microsatellites</th>
					<th colspan="4">Compound Microsatellites</th>
				</tr>
				<tr>
					<th>Counts</th>
					<th>Frequency (loci/Mb)</th>
					<th>Density (bp/Mb)</th>
					<th>Genome Covered (%)</th>
					<th>Counts</th>
					<th>Frequency (loci/Mb)</th>
					<th>Density (bp/Mb)</th>
					<th>cSSRs%</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>

<div class="modal fade" id="download-dialog" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5>Download statistics</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		        	<span aria-hidden="true">&times;</span>
		        </button>
			</div>
			<div class="modal-body">
				<div class="input-group">
					<div class="input-group-prepend">
						<label class="input-group-text">Output format</label>
					</div>
					<select class="custom-select" id="dl-format">
						<option value="csv">CSV</option>
						<option value="tsv">TSV</option>
					</select>
				</div>
				<div class="form-group mt-3">
					<label for="dl-statistics">Statistics</label>
					<select class="custom-select" id="dl-statistics">
						<option value="overview_statistics">Overview statistics</option>
						<option value="ssrtype_statistics">SSR type statistics</option>
						<option value="motif_statistics">Motif statistics</option>
						<option value="genic_statistics">Genic statistics</option>
					</select>
				</div>
				<div class="input-group mt-3">
					<div class="input-group-prepend">
						<label class="input-group-text">Data type</label>
					</div>
					<select class="custom-select" id="dl-datatype" disabled="disabled">
						<option value="ssr_counts">SSR counts</option>
						<option value="ssr_length">SSR length</option>
						<option value="ssr_frequency">SSR frequency</option>
						<option value="ssr_density">SSR density</option>
					</select>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-primary" id="dl-ok">Download</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
var size_unit = 'GB';

var table = $('#summary').DataTable({
	scrollX: true,
	dom: "<'row'<'col-sm-12 col-md-2'l><'col-md-4 tipinfo'><'col-sm-12 col-md-6 text-right'B>>" +
		 "<'row'<'col-sm-12'tr>>" +
		 "<'row mt-2'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
	buttons:[
		{
			text: 'Genome size',
			className: 'btn-sm btn-outline-info'
		},
		{
			text: 'GB',
			className: 'btn-sm btn-info active',
			action: function(e, dt, node){
				size_unit = 'GB';
				node.siblings().removeClass('active');
				node.addClass('active');
				table.ajax.reload();
			}
		},
		{
			text: 'MB',
			className: 'btn-sm btn-info',
			action: function(e, dt, node){
				size_unit = 'MB';
				node.siblings().removeClass('active');
				node.addClass('active');
				table.ajax.reload();
			}
		},
		{
			text: 'KB',
			className: 'btn-sm btn-info',
			action: function(e, dt, node){
				size_unit = 'KB';
				node.siblings().removeClass('active');
				node.addClass('active');
				table.ajax.reload();
			}
		},
		{
			text: 'BP',
			className: 'btn-sm btn-info',
			action: function(e, dt, node){
				size_unit = 'BP';
				node.siblings().removeClass('active');
				node.addClass('active');
				table.ajax.reload();
			}
		},
		{
			text: 'Download',
			className: 'btn-sm btn-danger',
			action: function(e, dt, node){
				$('#download-dialog').modal('show');
			}
		}
	],
	searching: true,
	processing: true,
	serverSide: true,
	ajax: {
		url: "{{ url('overview') }}",
		type: 'POST',
		data: function(d){
			d.kingdom = $('#kingdom-select').val();
			d.group = $('#group-select').val();
			d.subgroup = $('#subgroup-select').val();
			d.species = $('#species-select').val();
			d.unit = size_unit;
		}
	}
});

$("div.tipinfo").html('<small class="text-danger">Double click a row to view detailed species information</small>');

table.on('draw.dt', function(){
	$('#summary tbody tr').dblclick(function(){
		var row = table.row(this).data();
		$.redirect("{{ url('species') }}", {species: row[0]}, 'POST', '_blank');
	});
});

$('#kingdom-select').change(function(){
	if($(this).val()){
		table.ajax.reload();
	}
});
$('#group-select').change(function(){
	if($(this).val()){
		table.ajax.reload();
	}
});
$('#subgroup-select').change(function(){
	if($(this).val()){
		table.ajax.reload();
	}
});
$('#species-select').change(function(){
	if($(this).val()){
		table.ajax.reload();
	}
});

$('#dl-ok').click(function(){
	var data = {
		'mode': $('#dl-statistics').val(),
		'outfmt': $('#dl-format').val(),
		'datatype': $('#dl-datatype').val(),
		'kingdom': $('#kingdom-select').val() || '0',
		'group': $('#group-select').val() || '0',
		'subgroup': $('#subgroup-select').val() || '0',
		'species': $('#species-select').val() || '0',
		'unit': size_unit
	};
	$.redirect("{{ url('download') }}", data, 'POST', '_blank');
	$('#download-dialog').modal('hide');
});

$('#dl-statistics').change(function(){
	if($(this).val() == 'overview_statistics'){
		$('#dl-datatype').attr('disabled', true);
	} else {
		$('#dl-datatype').attr('disabled', false);
	}
});

</script>
{% endblock %}