{% extends "psmd/base.html" %}
{% block head %}
<style type="text/css">
table.table{
	margin-bottom: 0;
}
</style>
{% endblock %}

{% block main %}
<div class="row mt-5">
	<div class="col">
		<div class="form-row">
			<div class="form-group col-md-2">
				<label>Kingdom</label>
				<select name="kingdom" class="form-control" id="kingdom-select">
					<option value="{{ summary.kingdom[0] }}">{{ summary.kingdom[1] }}</option>
				</select>
			</div>
			<div class="form-group col-md-2">
				<label>Group</label>
				<select name="group" class="form-control" id="group-select">
					<option value="{{ summary.group[0] }}">{{ summary.group[1] }}</option>
				</select>
			</div>
			<div class="form-group col-md-2">
				<label>Subgroup</label>
				<select name="subgroup" class="form-control" id="subgroup-select">
					<option value="{{ summary.subgroup[0] }}">{{ summary.subgroup[1] }}</option>
				</select>
			</div>
			<div class="form-group col-md-4">
				<label>Species</label>
				<select name="species" class="form-control" id="species-select">
					<option value="{{ summary.species[0] }}">{{ summary.species[1] }}</option>
				</select>
			</div>
			<div class="form-group col-md-2">
				<label>Option</label>
				<select name="species" class="form-control" id="view-option-select">
					<option value="summary" selected="selected">Summary statistics</option>
					<option value="ssr">Perfect microsatellite</option>
					<option value="cssr">Compound microsatellite</option>
				</select>
			</div>
		</div>
	</div>
</div>

<div class="row mt-4">
	<div class="col-lg-4">
		<div class="card">
			<h5 class="card-header">Species information</h5>
			<table class="table">
				<tbody>
					<tr><td>Species name</td><td><i>{{ summary.species[1] }}</i></td></tr>
					<tr><td>Common name</td><td>{{ summary.common_name }}</td></tr>
					<tr><td>NCBI taxonomy</td><td><a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ summary.taxonomy }}" target="_blank">{{ summary.taxonomy }}</a></td></tr>
					<tr><td>NCBI accession</td><td><a href="https://www.ncbi.nlm.nih.gov/assembly/{{ summary.accession }}" target="_blank">{{ summary.accession }}</a></td></tr>
					<tr><td>Genome size (bp)</td><td>{{ summary.genome_size }}</td></tr>
					<tr><td>Unkown bases (bp)</td><td>{{ summary.ns_count }}</td></tr>
					<tr><td>GC content (%)</td><td>{{ summary.gc_content }}</td></tr>
					<tr><td>Assembly level</td><td>{{ summary.assembly_level }}</td></tr>
					<tr><td>Number of sequences</td><td>{{ summary.seq_count }}</td></tr>
					<tr><td>Number of genes</td><td>{{ summary.gene_count }}</td></tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="card">
			<h5 class="card-header">Microsatellites</h5>
			<table class="table">
				<tbody>
					<tr><td>Total number of microsatellites</td><td>{{ summary.ssr_count }}</td></tr>
					<tr><td>Total length of microsatellites (bp)</td><td>{{ summary.ssr_length }}</td></tr>
					<tr><td>The average length of microsatellites (bp)</td><td>{{ summary.ssr_average }}</td></tr>
					<tr><td>Number of microsatellites per sequence</td><td>{{ summary.ssr_perseq }}</td></tr>
					<tr><td>Relative abundance (loci/Mb)</td><td>{{ summary.ssr_frequency }}</td></tr>
					<tr><td>Relative density (bp/Mb)</td><td>{{ summary.ssr_density }}</td></tr>
					<tr><td>Percentage of genome covered (%)</td><td>{{ summary.genome_cover}}</td></tr>
					<tr><td>Total number of motif category</td><td>{{ summary.ssr_category }}</td></tr>
					<tr><td>Maximum repeats / motif</td><td>{{ summary.ssr_maxrep }}</td></tr>
					<tr><td>Maximum length (bp) / motif</td><td>{{ summary.ssr_maxlen }}</td></tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="card">
			<h5 class="card-header">Compound microsatellites</h5>
			<table class="table">
				<tbody>
					<tr><td>Total number of compound microsatellites</td><td>{{ summary.cm_count }}</td></tr>
					<tr><td>Total length of compound microsatellites (bp)</td><td>{{ summary.cssr_length }}</td></tr>
					<tr><td>The average length of compound microsatellites (bp)</td><td>{{ summary.cm_average }}</td></tr>
					<tr><td>Number of compound microsatellites per sequence</td><td>{{ summary.cssr_perseq }}</td></tr>
					<tr><td>Relative abundance (loci/Mb)</td><td>{{ summary.cssr_frequency }}</td></tr>
					<tr><td>Relative density (bp/Mb)</td><td>{{ summary.cssr_density }}</td></tr>
					<tr><td>Total number of SSRs comprised for compound</td><td>{{ summary.cssr_count }}</td></tr>
					<tr><td>cSSRs%</td><td>{{ summary.cssr_percent }}</td></tr>
					<tr><td>Maximum length (bp)</td><td>{{ summary.cssr_maxlen }}</td></tr>
					<tr><td>Maximum complexity</td><td>{{ summary.cssr_maxcpl }}</td></tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="row mt-3">
	<div class="col-lg-4">
		<div class="card">
			<div class="card-body">
				<div id="chart1"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-8">
		<div class="card">
			<div class="card-body">
				<div id="chart2"></div>
			</div>
		</div>
	</div>
</div>

<div class="row mt-3">
	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">
				<div id="chart3"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">
				<div id="chart4"></div>
			</div>
		</div>
	</div>
</div>

<div class="row mt-3">
	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">
				<div id="chart5"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">
				<div id="chart6"></div>
			</div>
		</div>
	</div>
</div>

<script>
$('#view-option-select').prop('disabled', false);

//highchart global setting
Highcharts.setOptions({
	credits: {
		enabled: false
	}
});

//ssr type distribution
Highcharts.chart('chart1',{
	chart:{
		type: 'pie'
	},
	title: {
		text: 'SSR type distribution'
	},
	plotOptions: {
		pie: {
			allowPointSelect: true,
			cursor: 'pointer',
			dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.2f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
		}
	},
	series: [{
		name: 'SSR counts',
		colorByPoint: true,
		data: {{ summary.ssr_types|safe }}
	}]
});

//ssr motif distribution
Highcharts.chart('chart2', {
	chart: {
		type: 'column'
	},
	title: {
		text: 'SSR motif distribution'
	},
	xAxis: {
		type: 'category',
		labels: {
			rotation: -45
		}
	},
	yAxis: {
		title: {
			text: 'SSR counts'
		},
		type: 'logarithmic'
	},
	legend: {
		enabled: false
	},
	series: [{
		name: 'SSR counts',
		data: {{ summary.ssr_motif|safe }}
	}]
});

//SSR repeat distribution
Highcharts.chart('chart3', {
	title: {
		text: 'SSR repeat distribution'
	},
	yAxis: {
		title: {
			text: 'SSR counts'
		}
	},
	xAxis: {
		title:{
			text: 'SSR repeats'
		},
		categories: {{ summary.ssr_replabel|safe }} 
	},
	series: {{ summary.ssr_repdis|safe }}
});

//SSR length distribution
Highcharts.chart('chart4', {
	title: {
		text: 'SSR length distribution'
	},
	yAxis: {
		title: {
			text: 'SSR counts'
		}
	},
	xAxis: {
		title:{
			text: 'SSR length'
		},
		categories: {{ summary.ssr_lenlabel|safe }} 
	},
	plotOptions:{
		series: {
			lineWidth: 0
		}
	},
	series: {{ summary.ssr_lendis|safe }}
});

//compound complexity distribution
Highcharts.chart('chart5', {
	chart: {
		type: 'areaspline'
	},
	title: {
		text: 'Compound SSR complexity distribution'
	},
	xAxis: {
		title: {
			text: 'Complexity'
		},
		type: 'category',
	},
	yAxis: {
		title: {
			text: 'SSR Counts'
		},
		type: 'logarithmic'
	},
	legend: {
		enabled: false
	},
	series:[{
		name: 'SSR counts',
		data: {{ summary.cssr_cpldis }}
	}]
});

//compound length distribution
Highcharts.chart('chart6', {
	chart: {
		type: 'areaspline'
	},
	title: {
		text: 'Compound SSR length distribution'
	},
	xAxis: {
		title: {
			text: 'Length'
		},
		type: 'category',
	},
	yAxis: {
		title: {
			text: 'SSR Counts'
		}
	},
	legend: {
		enabled: false
	},
	series:[{
		name: 'SSR counts',
		data: {{ summary.cssr_lendis }}
	}]
});
</script>

{% endblock %}