{% extends "panmicrosatdb/base.html" %}

{% block title %} Browse - PanMicroSatDB {% endblock %}

{% block main %}
{{ csrf_input }}

<div class="row mt-5">
	<div class="col-lg-12">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">Eukaryota</li>
				<li class="breadcrumb-item">Animals</li>
				<li class="breadcrumb-item">Mammals</li>
				<li class="breadcrumb-item"><i>Homo sapiens</i></li>
			</ol>
		</nav>
	</div>
</div>

<div class="row mt-3">
	<div class="col-lg-9">
		<table id="ssrview" class="table table-bordered table-hover" width="100%">
		</table>
	</div>
	<div class="col-lg-3">
		<div id="filters">
			<div class="card">
				<h5 class="card-header">Filters</h5>
				<div class="card-body">
					<div class="input-group">
						<div class="input-group-prepend">
							<select class="input-group-text" id="select-seqtype">
								<option value="name">Name</option>
								<option value="accession">Accession</option>
							</select>
						</div>
						<select class="custom-select" name="sequence" id="select-sequence"></select>
					</div>

					<div class="input-group mt-3">
						<div class="input-group-prepend">
							<label class="input-group-text">Region</label>
						</div>
						<input type="number" id="input-start" name="start" class="form-control">
						<div class="input-group-prepend input-group-append">
							<label class="input-group-text">to</label>
						</div>
						<input type="number" id="input-end" name="end" class="form-control">
					</div>

					<div class="input-group mt-3">
						<div class="input-group-prepend">
							<label class="input-group-text">Motif =</label>
						</div>
						<input type="text" id="input-motif" name="motif" class="form-control">
					</div>

					<div class="input-group mt-3">
						<div class="input-group-prepend">
							<label class="input-group-text">Standard Motif =</label>
						</div>
						<input type="text" id="input-smotif" name="smotif" class="form-control">
					</div>

					<div class="input-group mt-3">
						<div class="input-group-prepend">
							<label class="input-group-text">Type</label>
						</div>
						<select class="custom-select" id="select-ssrtype" name="ssrtype">
							<option value="0">All</option>
							<option value="1">Mono</option>
							<option value="2">Di</option>
							<option value="3">Tri</option>
							<option value="4">Tetra</option>
							<option value="5">Penta</option>
							<option value="6">Hexa</option>
						</select>
					</div>

					<div class="input-group mt-3">
						<div class="input-group-prepend">
							<label class="input-group-text">Repeats</label>
							<select class="custom-select input-group-text" id="select-repeat-sign" name="repeatsign">
								<option value="gt">></option>
								<option value="gte">>=</option>
								<option value="eq">=</option>
								<option value="lt"><</option>
								<option value="lte"><=</option>
								<option value="in">between</option>
							</select>
						</div>
						<input type="number" id="input-repeats" name="repeats" class="form-control">
						<input type="hidden" id="max-repeats" name="maxrepeats" class="form-control">
					</div>

					<div class="input-group mt-3">
						<div class="input-group-prepend">
							<label class="input-group-text">Length</label>
							<select class="custom-select input-group-text" id="select-len-sign" name="lensign">
								<option value="gt">></option>
								<option value="gte">>=</option>
								<option value="eq">=</option>
								<option value="lt"><</option>
								<option value="lte"><=</option>
								<option value="in">between</option>
							</select>
						</div>
						<input type="number" id="input-length" name="length" class="form-control">
						<input type="hidden" id="max-length" name="maxlength" class="form-control">
					</div>

					<div class="input-group mt-3">
						<div class="input-group-prepend">
							<label class="input-group-text">Location</label>
						</div>
						<select class="custom-select" id="select-location" name="location">
							<option value="0">All</option>
							<option value="1">CDS</option>
							<option value="2">exon</option>
							<option value="3">3'UTR</option>
							<option value="4">intron</option>
							<option value="5">5'UTR</option>
						</select>
					</div>

					<div class="mt-3">
						<button type="button" class="btn btn-info" id="apply-filter">Apply filters</button>
						<button type="button" class="btn btn-secondary" id="reset-filter">Reset filters</button>
					</div>
				</div>
			</div>
		</div>

		<div class="mt-3 text-muted">
			<small>Tips: Double click row to view detailed sequence. Use <kbd>Ctrl</kbd> or <kbd>Shift</kbd> + Left-mouse click to multiple select rows.</small>
		</div>
	</div>
</div>

<!-- sequence view dialog -->
<div class="modal fade" id="ssr-seq-dialog" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Detailed Sequence</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		        	<span aria-hidden="true">&times;</span>
		        </button>
			</div>
			<div class="modal-body"></div>
		</div>
	</div>
</div>

<!-- right menu -->
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="context-menu" data-ssr="0">
	<a class="dropdown-item" href="#" id="view-seq">View Sequence</a>
	<a class="dropdown-item" href="#" id="view-primer">View Primer</a>
</div>

<script type="text/javascript">
function view_sequence(ssr_id){
	
};

function view_primer(ssr_id){
	console.log(ssr_id);
}

$('#context-menu #view-seq').click(function(){
	$.ajax({
		url: "{{ url('flank') }}",
		method: 'POST',
		data: {ssrid: $('#context-menu').data('ssr')},
		dataType: 'json'
	}).done(function(data){
		$('#ssr-seq-dialog .modal-body').html(data.seq);
		$('#ssr-seq-dialog').modal('show');
	});	
});

$('#context-menu #view-primer').click(function(){
	alert($('#context-menu').data('ssr'));
});


var apply = false;
var table = $('table#ssrview').DataTable({
	dom: "<'row'<'col-md-6'l><'col-md-6'p>>rt<'row'<'col-md-6'i><'col-md-6'p>>",
	columns: [
		{name: 'id', title: 'ID'},
		{name: 'sequence__accession', title: 'Sequence Accession'},
		{name: 'sequence__name', title: 'Sequence Name'},
		{name: 'start', title: 'Start'},
		{name: 'end', title: 'End'},
		{name: 'motif', title: 'Motif'},
		{name: 'standard_motif', title: 'Standard Motif'},
		{name: 'ssr_type', title: 'Type'},
		{name: 'repeats', title: 'Repeats'},
		{name: 'length', title: 'Length'}
	],
	searching: true,
	processing: true,
	serverSide: true,
	//select: true,
	ajax: {
		url: "{{ url('browse') }}",
		type: 'POST',
		data: function(d){
			if(apply){
				d.sequence = $('#select-sequence').val() || '0';
				d.begin = $('#input-start').val() || '0';
				d.end = $('#input-end').val() || '0';
				d.motif = $('#input-motif').val();
				d.smotif = $('#input-smotif').val();
				d.ssrtype = $('#select-ssrtype').val();
				d.repsign = $('#select-repeat-sign').val();
				d.repeats = $('#input-repeats').val() || '0';
				d.maxrep = $('#max-repeats').val() || '0';
				d.lensign = $('#select-len-sign').val();
				d.ssrlen = $('#input-length').val() || '0';
				d.maxlen = $('#max-length').val() || '0';
				d.location = $('#select-location').val();
			}
		}
	},
	drawCallback: function(settings){
		$('table tbody tr').on('contextmenu', function(e){
			var row = table.row(this).data();
			var left = e.pageX + 10;
			var top = e.pageY - 10;
			$('#context-menu').css({
				display: 'block',
				top: top,
				left: left
			});
			$('#context-menu').data('ssr', row[0]);
			return false;
		});
	}
});

$('body').on('click', function(){
	$('#context-menu').data('ssr', 0);
	$('#context-menu').hide();
});

$('select#select-sequence').select2({
	placeholder: "Select a sequence by accession",
	width: '100%',
	theme: 'bootstrap4',
	ajax: {
		url: "{{ url('seqid') }}",
		type: 'POST',
		dataType: 'json',
		delay: 250,
		data: function(params){
			return {
				term: params.term,
				page: params.page,
				label: $('select#select-seqtype').val(),
				rows: 10
			};
		},
		processResults: function(data, params){
			params.page = params.page || 1;

			return {
				results: data.results,
				pagination: {
					more: (params.page*10) < data.total
				}
			};
		},
		cache: true,
		minimumInputLength: 1
	},
});


$('#reset-filter').click(function(){
	apply = false;
	$('#filters input').val('');
	$('#filters select').val('').trigger('change');
	$('#select-ssrtype').val('0').trigger('change');
	$('#select-repeat-sign').val('gt').trigger('change');
	$('#select-len-sign').val('gt').trigger('change');
	$('#select-seqtype').val('name').trigger('change');
	table.ajax.reload();
});

$('#apply-filter').click(function(){
	apply = true;
	table.ajax.reload();
});

$('#select-len-sign').change(function(){
	if($(this).val() == 'in'){
		$('#max-length').attr('type', 'number');
	} else {
		$('#max-length').attr('type', 'hidden');
	}
});

$('#select-repeat-sign').change(function(){
	if($(this).val() == 'in'){
		$('#max-repeats').attr('type', 'number');
	} else {
		$('#max-repeats').attr('type', 'hidden');
	}
});
</script>
{% endblock %}