{% extends "panmicrosatdb/base.html" %}

{% block title %} Browse - PanMicroSatDB {% endblock %}

{% block main %}
<div class="row">
	<div class="col-lg-9">
		<div class="pt-5">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Sequence Name</th>
						<th>Start</th>
						<th>End</th>
						<th>Motif</th>
						<th>Standard Motif</th>
						<th>Type</th>
						<th>Repeats</th>
						<th>Lenght</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1234</td>
						<td>Chr1</td>
						<td>123455</td>
						<td>123678</td>
						<td>AAATGC</td>
						<td>AAATGC</td>
						<td>Hexa</td>
						<td>18</td>
						<td>108</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="pt-5">
			<div class="card">
				<h5 class="card-header">Filters</h5>
				<div class="card-body">
					<div class="input-group">
						<div class="input-group-prepend">
							<label class="input-group-text">Sequnece</label>
						</div>
						<select class="custom-select" name="seqname">
							<option>Chr1</option>
							<option>Chr2</option>
						</select>
					</div>

					<div class="input-group mt-3">
						<div class="input-group-prepend">
							<label class="input-group-text">Start</label>
							<select class="custom-select input-group-text" name="startsign">
								<option>></option>
								<option>>=</option>
								<option><</option>
								<option><=</option>
							</select>
						</div>
						<input type="number" name="start" class="form-control">
					</div>

					<div class="input-group mt-3">
						<div class="input-group-prepend">
							<label class="input-group-text">End</label>
							<select class="custom-select input-group-text" name="endsign">
								<option>></option>
								<option>>=</option>
								<option><</option>
								<option><=</option>
							</select>
						</div>
						<input type="number" name="end" class="form-control">
					</div>

					<div class="input-group mt-3">
						<div class="input-group-prepend">
							<label class="input-group-text">Motif =</label>
						</div>
						<input type="text" name="motif" class="form-control">
					</div>

					<div class="input-group mt-3">
						<div class="input-group-prepend">
							<label class="input-group-text">Standard Motif =</label>
						</div>
						<input type="text" name="smotif" class="form-control">
					</div>

					<div class="input-group mt-3">
						<div class="input-group-prepend">
							<label class="input-group-text">Type</label>
						</div>
						<select class="custom-select" name="ssrtype">
							<option value="1">Mono</option>
							<option value="2">Di</option>
							<option value="3">Tri</option>
							<option value="4">Tetra</option>
							<option value="5">Penta</option>
							<option value="6">Hexa</option>
						</select>
					</div>

					<div class="input-group mt-3">
						<div class="input-group-prepend">
							<label class="input-group-text">Repeats</label>
							<select class="custom-select input-group-text" name="repeatsign">
								<option>></option>
								<option>>=</option>
								<option><</option>
								<option><=</option>
							</select>
						</div>
						<input type="number" name="repeats" class="form-control">
					</div>

					<div class="input-group mt-3">
						<div class="input-group-prepend">
							<label class="input-group-text">Length</label>
							<select class="custom-select input-group-text" name="lensign">
								<option>></option>
								<option>>=</option>
								<option><</option>
								<option><=</option>
							</select>
						</div>
						<input type="number" name="length" class="form-control">
					</div>
					<div class="mt-3">
						<button type="button" class="btn btn-info">Apply filters</button>
						<button type="button" class="btn btn-secondary">Clear filters</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}