{% extends "panmicrosatdb/base.html" %}

{% block main %}
<div class="row mt-5">
	<div class="col">
		<table class="table table-bordered table-hover" width="100%">
			<thead>
				<tr>
					<th rowspan="2" class="align-middle">Taxonomy</th>
					<th rowspan="2" class="align-middle">Species</th>
					<th rowspan="2" class="align-middle">Accession</th>
					<th rowspan="2" class="align-middle">Genome size (Mb)</th>
					<th rowspan="2" class="align-middle">GC Content (%)</th>
					<th colspan="5">Perfect Microsatellites</th>
					<th colspan="4">Compound Microsatellites</th>
				</tr>
				<tr>
					<th>Counts</th>
					<th>RA (loci/Mb)</th>
					<th>RD (bp/Mb)</th>
					<th>Genome Covered (%)</th>
					<th>Type Pattern</th>
					<th>Counts</th>
					<th>RA (loci/Mb)</th>
					<th>RD (bp/Mb)</th>
					<th>cSSR%</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
</div>
{% endblock %}