{% extends "panmicrosatdb/base.html" %}

{% block main %}
<div class="row mt-5">
	<div class="col-lg-12">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">Eukaryota</li>
				<li class="breadcrumb-item">Animals</li>
				<li class="breadcrumb-item">Mammals</li>
				<li class="breadcrumb-item"><i>Homo sapiens</i></li>
			</ol>
		</nav>
	</div>
</div>

<div class="row mt-3">
	<div class="col-lg-4">
		<table class="table table-sm table-bordered">
			<tbody>
				<tr><th>Species name</th><td><i>Homo sapiens</i></td></tr>
				<tr><th>Common name</th><td>Human</td></tr>
				<tr><th>NCBI taxonomy</th><td><a href="#">9606</a></td></tr>
				<tr><th>NCBI accession</th><td>GCF_00007653</td></tr>
				<tr><th>Genome size (bp)</th><td>31,042,453,554</td></tr>
				<tr><th>GC content (%)</th><td>54.78</td></tr>
				<tr><th>Total number of sequences</th><td>123456</td></tr>
				<tr><th>Unkown bases (Ns) in sequences (bp)</th><td>567</td></tr>
				<tr><th>Total number of microsatellites</th><td>1300012</td></tr>
				<tr><th>Total length of microsatellites (bp)</th><td>1300012</td></tr>
				<tr><th>The average length of microsatellites (bp)</th><td>1300012</td></tr>
				<tr><th>Microsatellite Relative abundance (loci/Mb)</th><td>12</td></tr>
				<tr><th>Microsatellite Relative density (bp/Mb)</th><td>1234</td></tr>
				<tr><th>Genome covered by microsatellites (%)</th><td>0.32</td></tr>
				<tr><th>Total number of compound microsatellites</th><td>GCF_00007653</td></tr>
				<tr><th>Total length of compound microsatellites (bp)</th><td>1300012</td></tr>
				<tr><th>The average length of compound microsatellites (bp)</th><td>1300012</td></tr>
				<tr><th>Compound microsatellite Relative abundance (loci/Mb)</th><td>12</td></tr>
				<tr><th>Compound microsatellite Relative density (bp/Mb)</th><td>1234</td></tr>
			</tbody>
		</table>
	</div>
	<div class="col-lg-8">
		
	</div>
</div>
{% endblock %}