{% extends "panmicrosatdb/base.html" %}
{% block head %}
<style type="text/css">
table.table{
	margin-bottom: 0;
}
</style>
{% endblock %}

{% block main %}
<div class="row mt-5">
	<div class="col">
		<div class="form-row">
			<div class="form-group col-md-2">
				<label>Kingdom</label>
				<select name="kingdom" class="form-control" id="kingdom-select">
					<option value="{{ species.kingdom[0] }}">{{ species.kingdom[1] }}</option>
				</select>
			</div>
			<div class="form-group col-md-2">
				<label>Group</label>
				<select name="group" class="form-control" id="group-select">
					<option value="{{ species.group[0] }}">{{ species.group[1] }}</option>
				</select>
			</div>
			<div class="form-group col-md-2">
				<label>Subgroup</label>
				<select name="subgroup" class="form-control" id="subgroup-select">
					<option value="{{ species.subgroup[0] }}">{{ species.subgroup[1] }}</option>
				</select>
			</div>
			<div class="form-group col-md-4">
				<label>Species</label>
				<select name="species" class="form-control" id="species-select">
					<option value="{{ species.species[0] }}">{{ species.species[1] }}</option>
				</select>
			</div>
			<div class="form-group col-md-2">
				<label>Option</label>
				<select name="species" class="form-control" id="view-option-select">
					<option value="summary" selected="selected">Summary statistics</option>
					<option value="ssr">Perfect microsatellite</option>
					<option value="cssr">Compound microsatellite</option>
				</select>
			</div>
		</div>
	</div>
</div>

<div class="row mt-4">
	<div class="col-lg-4">
		<div class="card">
			<h5 class="card-header">Species information</h5>
			<table class="table">
				<tbody>
					<tr><td>Species name</td><td><i>Homo sapiens</i></td></tr>
					<tr><td>Common name</td><td>Human</td></tr>
					<tr><td>NCBI taxonomy</td><td><a href="#">9606</a></td></tr>
					<tr><td>NCBI accession</td><td>GCF_00007653</td></tr>
					<tr><td>Genome size (bp)</td><td>31,042,453,554</td></tr>
					<tr><td>Unkown bases (bp)</td><td>567</td></tr>
					<tr><td>GC content (%)</td><td>54.78</td></tr>
					<tr><td>Assembly level</td><td>Chromosome</td></tr>
					<tr><td>Number of sequences</td><td>123456</td></tr>
					<tr><td>Number of genes</td><td>23583</td></tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="card">
			<h5 class="card-header">Microsatellites</h5>
			<table class="table">
				<tbody>
					<tr><td>Total number of microsatellites</td><td>1300012</td></tr>
					<tr><td>Total length of microsatellites (bp)</td><td>1300012</td></tr>
					<tr><td>The average length of microsatellites (bp)</td><td>1300012</td></tr>
					<tr><td>Number of microsatellites per sequence</td><td>3456</td></tr>
					<tr><td>Relative abundance (loci/Mb)</td><td>12</td></tr>
					<tr><td>Relative density (bp/Mb)</td><td>1234</td></tr>
					<tr><td>Percentage of genome covered (%)</td><td>0.32</td></tr>
					<tr><td>Total number of motif category</td><td>356</td></tr>
					<tr><td>Maximum repeats / motif</td><td>300 / AT</td></tr>
					<tr><td>Maximum length (bp) / motif</td><td>1000 / AGCT</td></tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="card">
			<h5 class="card-header">Compound microsatellites</h5>
			<table class="table">
				<tbody>
					<tr><td>Total number of compound microsatellites</td><td>GCF_00007653</td></tr>
					<tr><td>Total length of compound microsatellites (bp)</td><td>1300012</td></tr>
					<tr><td>The average length of compound microsatellites (bp)</td><td>1300012</td></tr>
					<tr><td>Number of compound microsatellites per sequence</td><td>123</td></tr>
					<tr><td>Relative abundance (loci/Mb)</td><td>12</td></tr>
					<tr><td>Relative density (bp/Mb)</td><td>1234</td></tr>
					<tr><td>Total number of SSRs comprised for compound</td><td>123456</td></tr>
					<tr><td>cSSRs%</td><td>12.35</td></tr>
					<tr><td>Maximum length (bp)</td><td>1200</td></tr>
					<tr><td>Maximum complexity</td><td>20</td></tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="row mt-3">
	<div class="col-lg-4">
		<div class="card">
			<h5 class="card-header">Microsatellite type distribution <button id="export-chart1" class="btn btn-sm btn-outline-info float-right">Export</button></h5>
			<div class="card-body">
				<div id="chart1"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-8">
		<div class="card">
			<h5 class="card-header">Motif type distribution <button id="export-chart2" class="btn btn-sm btn-outline-info float-right">Export</button></h5>
			<div class="card-body">
				<div id="chart2"></div>
			</div>
		</div>
	</div>
</div>

<div class="row mt-3">
	<div class="col-lg-6">
		<div class="card">
			<h5 class="card-header">Microsatellite repeat distribution<button id="export-chart2" class="btn btn-sm btn-outline-info float-right">Export</button></h5>
			<div class="card-body">
				<div id="chart1"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="card">
			<h5 class="card-header">Microsatellite length distribution <button id="export-chart2" class="btn btn-sm btn-outline-info float-right">Export</button></h5>
			<div class="card-body">
				<div id="chart2"></div>
			</div>
		</div>
	</div>
</div>

<div class="row mt-3">
	<div class="col-lg-6">
		<div class="card">
			<h5 class="card-header">The complexity distribution of compound microsatellites <button id="export-chart2" class="btn btn-sm btn-outline-info float-right">Export</button></h5>
			<div class="card-body">
				<div id="chart1"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="card">
			<h5 class="card-header">The length distribution of compound microsatellites <button id="export-chart2" class="btn btn-sm btn-outline-info float-right">Export</button></h5>
			<div class="card-body">
				<div id="chart2"></div>
			</div>
		</div>
	</div>
</div>

<script>
$('#view-option-select').prop('disabled', false);

c3.generate({
    bindto: '#chart1',
    data: {
      columns: [
        ['Mono', 120],
        ['Di', 80],
        ['Tri', 50],
        ['Tetra', 70],
        ['Penta', 40],
        ['Hexa', 30]
      ],
      type: 'pie'
    }
});

c3.generate({
	bindto: '#chart2',
	data: {
		columns: [['Motif',149.23,147.41,117.37,79.37,42.44,25.68,25.2,24.93,14.57,14.35,13.16,11.2,10.59,8.17,8.16,7.32,6.98,6.63,6.24,4.24,3.25,3.13,3.11,2.85,2.38,2.36,2.35,2.31,1.84,1.45,1.42,0.88,0.84,0.69,0.57,0.55,0.52,0.5,0.48,0.47,0.42,0.4,0.36,0.36,0.29,0.27,0.27,0.27,0.26,0.23]],
		type: 'bar'
	},
	axis: {
		x: {
			type: 'category',
			tick: {
				rotate: -65,
				multiline: false
			},
			categories: ["AC","A","AT","AAT","AAAT","ATCC","AG","ATAG","AAGT","AATG","ACAG","ATC","AATAT","AAC","AAAC","C","ATAC","AATC","AAAG","AAAAT","ACTG","AACC","AATT","AAG","ACGC","ACGG","ACTC","AAATT","AGG","AAGG","AATTC","AAAAC","AATAG","ACC","ACG","AATGT","AGC","AACAT","ACCG","AGGG","ATATC","AAATC","AAGC","AAGGC","AAGTC","CG","ACCC","AATCT","AAAAG","AACG"]
		}
	},
	legend: {
		show: false
	}
});
</script>

{% endblock %}