a,
.text-base {
	color: #32a1cf;
}

.btn-base{
	color: #fff;
	background-color: #32a1cf;
	border-color: #32a1cf;
}
.search-input{
	border-color: #32a1cf;
}

nav.navbar{
	background: rgba(52, 59, 68, 0.9);
	font-size: 1.15em;
}

tbody{
	cursor: pointer;
}

.A,.T,.G,.C{
	display: inline-block;
	text-align: center;
	margin: 1px;
}

.A{
	color:#5050ff;
}
.T{
	color:#e6e600;
}
.G{
	color:#00c000;
}
.C{
	color:#e00000;
}

footer{
	background: #343b44;
	color: #fff;
}