@font-face{
	font-family: "Roboto";
	src: url('../font/Roboto-Regular.ttf');
}
@font-face{
	font-family: "Roboto";
	font-weight: bold;
	src: url('../font/Roboto-Bold.ttf');
}

@font-face{
	font-family: "RobotoMono";
	src: url('../font/RobotoMono-Regular.ttf');
}

body{
	font-family: "Roboto";
	padding-top: 4.5rem;
}

.sticky-offset {
    top: 6.5rem;
}

a,
.text-base {
	color: #32a1cf;
}

.btn-base {
	color: #fff;
	background-color: #32a1cf;
	border-color: #32a1cf;
}
h6{
	font-weight: 600;
}
/*
input,
textarea,
select{
	border-color: #32a1cf !important;
}*/

/*
#search-bar input{
	width: 300px;
	border-color: white !important;
	transition:width 0.5s;
}
#search-bar input:focus{
	width: 600px;
}*/
#search-bar .dropdown-menu{
	right: 0;
}

nav.navbar{
	background: rgba(52, 59, 68, 0.9);
	font-size: 1.15em;
}

#primer-table,
#gannot-table {
	font-size: 14px;
}

.list-inline li{
	display: inline-block;
}
.list-inline li:not(:last-child){
	margin-right: 1.5rem;
}

#primer3-dialog table td.align-middle{
	color: #32a1cf;
	cursor: pointer;
}

footer{
	background: #343b44;
	color: #fff;
}

/* sequence viewer */
.sequence-box {
	box-sizing:border-box;
	display:flex;
	flex:0 1 auto;
	flex-direction:row;
	flex-wrap:wrap;
	margin-right:-.5rem;
	margin-left:-.5rem;
}
.sequence-table {
	font-family: "RobotoMono";
	position: relative;
	font-size: 14px;
	margin: 0;
	height: auto;
	transition: height 0.28s ease;
}

.sequence-table .sequence-nucleotide {
	font-size: 13px;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.sequence-table .sequence-nucleotide .base-row {
	font-size: 13px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	height: 2.8vh;
	position: relative;
}
.sequence-table .sequence-nucleotide .meta-row {
	font-size: 12px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin: 0;
	height: 2vh;
	position: relative;
}
.sequence-table .sequence-nucleotide .nucleobase {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #8fb4c6;
	position: relative;
	width: 1vw;
	height: 2.8vh;
}
.sequence-table .sequence-nucleotide .nucleobase:before {
	/*#8fb4c6*/
	content: "";
	height: 1px;
	background-color: #bcbcbc;
	width: 1vw;
	position: absolute;
	bottom: 0;
}
.sequence-table .sequence-nucleotide .nucleobase:after {
	content: "";
	height: 15%;
	background-color: #bcbcbc;
	width: 1px;
	position: absolute;
	bottom: 0;
	left: 50%;
}
.sequence-table .sequence-nucleotide .nucleobase-target {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	color: #1d3039;
	position: relative;
	width: 1vw;
	height: 2.8vh;
}
.sequence-table .sequence-nucleotide .nucleobase-target:before {
	content: "";
	height: 1px;
	background-color: #1d3039;
	width: 1vw;
	position: absolute;
	bottom: 0;
}
.sequence-table .sequence-nucleotide .nucleobase-target:after {
	content: "";
	height: 15%;
	background-color: #1d3039;
	width: 1px;
	position: absolute;
	bottom: 0;
	left: 50%;
}
.sequence-table .sequence-nucleotide .nucleobase-cut {
	/*#6d9db5*/
	display: flex;
	align-items: center;
	justify-content: center;
	color: #bcbcbc;
	position: relative;
	width: 1.5vw;
	height: 2.8vh;
}
.sequence-table .sequence-nucleotide .nucleobase-cut:before {
	content: "";
	height: 1px;
	border-bottom: 1px dotted #bcbcbc;
	width: 1.5vw;
	position: absolute;
	bottom: 0;
}
.sequence-table .sequence-nucleotide .meta-info {
	color: #2E4C5B;
	font-size: 11px;
	display: flex;
	align-items: flex-end;
	justify-content: left;
	position: relative;
	width: 1vw;
	height: 0.4vh;
}
.sequence-table .sequence-nucleotide .A{
	color:#5050ff;
}
.sequence-table .sequence-nucleotide .T{
	color:#FFA500;
}
.sequence-table .sequence-nucleotide .G{
	color:#00c000;
}
.sequence-table .sequence-nucleotide .C{
	color:#e00000;
}
.sequence-table .sequence-nucleotide .N{
	color:#bbb;
}

/* colored sequence */
.B{
	display: inline-block;
	font-family: "RobotoMono";
	margin-right: 2px;
}
.A{
	color:#5050ff;
}
.T{
	color: #FFA500;
}
.G{
	color:#00c000;
}
.C{
	color:#e00000;
}
.N{
	color:#bbb;
}